* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialised;
}

body {
    background-color: #c0ccd8;
    font: 16px/1.5 Helvetica, Arial, sans-serif;
    color: #474733;
}

.container {
    width: 30em;
    margin: 10em auto;
}

label {
    display: block;
    margin-bottom: 2em;
    font-weight: bold;
}

input[type="text"] {
    width: 100%;
    background: #FFFFFF;
    border: none;
    border: 1px solid #E2E8EE;
    box-shadow: 0 0 0 10px rgba(146,151,156,0.03);
    border-radius: 5px;
    height: 3.5em;
    font-size: 20px;
    outline: none;
    padding-left: 1em;
}

#foundDocs {
    opacity: 0;
    color: #8B8D90;
    background: #FFFFFF;
    border: 1px solid #E2E8EE;
    font-size: 20px;
    margin: 10px 0 0 0;
    padding: 0;
}

    #foundDocs li {
        list-style: none;
        padding: 1em;
    }

        #foundDocs li.highlighted {
            background-color: #E2E8EE;
            color: #5E6063;
        }

#foundDocs.visible {
    opacity: 1;
}

.centerButton{
    display: flex;
    justify-content: center;
    align-items: center;
}
#submitButton {
    height: 3em;
    width: 12em;
    background-color: white; 
    color: black; 
    border: 2px solid #4CAF50;
  }
  
  #submitButton:hover {
    background-color: #4CAF50;
    color: white;
  }